
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ecommerce using nodejs</title>
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">

  </head>

  <body>
    <% include ./partials/navbar -%>
    <br/><br/><br/>
    <%- body -%>

    <% include ./partials/footer -%>

    <% include ./partials/javascriptonly -%>


  </body>
</html>
